body {
    font-family: var(--FontFamily);
    overflow: hidden;
    font-stretch: extra-condensed;
}

h1 {
    text-transform: uppercase;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--default-padding);
    background: var(--RadialGradient);
    min-height: 100vh;
    color: white;
}

.header {
    border: 3px solid var(--HeaderOutline);
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

.title {
    position: inherit;
    font-size: 3rem;
    line-height: 0.8;
}
.score {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: white;
    border-radius: 20px;
    width: 25%;
    min-width: 150px;
}
.score_title{
    text-transform: uppercase;
    color: var(--ScoreText);
    text-align: center;
    font-weight: bold;
    margin: 10px 0 0 0;
    font-stretch: ultra-expanded;
}
.score_value{
    color: var(--DarkText);
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
}

.rules {
    border: 2px solid white;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    padding: 10px 50px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: white;
}
